								/*        Colors        */

/* Green */

$Frisco: 	#D0E3A1;
$Guacamole: #71BA1E;
$Moss: 		#3E6C04;
$Forest:	#1A3F03;

/* Grey */

$DarkGrey:	#121713;

/* Brown */

$OffWhite:	#FDFAF6;
$RiverSand:	#BB9457;
$Brown:		#421800;

/* Red */

$Crimson: #F70E1A;


	/*        Color Roles        */

