.site-header {
	// background: $Forest;
}

.site-branding {
	// background-color: $Crimson;
    width: 15%;
    text-align: center;

    .site-title {
    	height: 2.5em;

    	a {
    		@include header-font-stack();
    		font-size: 5em;
    		line-height: 80px;
    		text-decoration: none;
    	}
    }
}

#site-navigation {
    position: absolute;
    top: 70px;
}